<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:integration="http://www.springframework.org/schema/integration"
	xmlns:integration-jms="http://www.springframework.org/schema/integration/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/integration
    http://www.springframework.org/schema/integration/spring-integration.xsd
    http://www.springframework.org/schema/integration/jms
    http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd">

	<!-- -->
	<context:property-placeholder
		location="classpath:application.properties"
		ignore-unresolvable="false" />

	<context:component-scan
		base-package="org.lba.spring4" />

	<!-- ROUTING CONFIG -->
	<!-- Router channel -->
	<integration:channel id="routerChannel" />

	<!-- Channels for routing -->
	<integration:channel id="employeeChannel" />
	<integration:channel id="managerChannel" />

	<!-- SpringIntegration bean config: Router -->
	<bean id="basicSpringIntegrationRouter"
		class="org.lba.spring4.integration.router.BasicSpringIntegrationRouter" />
		
	<integration:router input-channel="routerChannel"
		ref="basicSpringIntegrationRouter" />

	<integration:service-activator input-channel="employeeChannel"
		ref="employeeBasicRoutingServiceActivator" />
	<integration:service-activator input-channel="managerChannel"
		ref="managerBasicRoutingServiceActivator" />

</beans>