<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:integration="http://www.springframework.org/schema/integration"
	xmlns:integration-jms="http://www.springframework.org/schema/integration/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/integration
    http://www.springframework.org/schema/integration/spring-integration.xsd
    http://www.springframework.org/schema/integration/jms
    http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd">

	<!-- -->
	<context:property-placeholder
		location="classpath:application.properties"
		ignore-unresolvable="false" />

	<context:component-scan
		base-package="org.lba.spring4" />
		
	<!-- Define the ActiveMQ connection factory -->
	<bean id="connectionFactory"
		class="org.apache.activemq.spring.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${spring.activemq.broker-url}" />
		<property name="userName" value="${spring.activemq.user}" />
		<property name="password" value="${spring.activemq.password}" />
	</bean>
	
	<!-- -->
	<integration:publish-subscribe-channel
		id="activemq-topic-InputChannel" />

	<integration-jms:outbound-channel-adapter
		channel="activemq-topic-InputChannel"
		destination-name="activemq-springintegration-topic"
		pub-sub-domain="true" connection-factory="connectionFactory" />

	<integration:service-activator
		id="messageHandlerTopic" input-channel="activemq-topic-InputChannel"
		ref="activeMQSpringIntegrationProducerActivator">
	</integration:service-activator>

	

</beans>