<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:integration="http://www.springframework.org/schema/integration"
	xmlns:integration-jms="http://www.springframework.org/schema/integration/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/integration
    http://www.springframework.org/schema/integration/spring-integration.xsd
    http://www.springframework.org/schema/integration/jms
    http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd">


	<!-- Notes: ActiveMQ queue: activemq-springintegration-queue -->
	<!-- 1. channel definition -->
	<integration:channel id="activemq-receiverChannel">
		<integration:queue/>
	</integration:channel>
	
	<!-- 2. -->
	<integration-jms:message-driven-channel-adapter
		id="activeMQInboundMsgDrivenChannelAdapter"
		destination-name="activemq-springintegration-queue"
		channel="activemq-receiverChannel" />

	<!-- 3. ServiceActivator definition -->
	<integration:service-activator
		id="messageHandlerActiveMQReceiver"
		input-channel="activemq-receiverChannel"
		ref="activeMQSpringIntegrationQueueReceiverServiceActivator">
		
		<!-- IMPO: Mandatory for consumer scenario -->
		 <integration:poller fixed-delay="500">
		 
		 </integration:poller>
	</integration:service-activator>

	

</beans>