<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:jms="http://www.springframework.org/schema/integration/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/integration
    http://www.springframework.org/schema/integration/spring-integration.xsd
    http://www.springframework.org/schema/integration/jms
    http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd">

	<int:channel id="simpleObjectPayloadInputChannel" />
	<int:channel id="simpleObjectPayloadOutputChannel">
		<int:queue capacity="10"/>
	</int:channel>
	
	<int:service-activator input-channel="simpleObjectPayloadInputChannel" 
	output-channel="simpleObjectPayloadOutputChannel" ref="simpleServiceActivatorObjectPayload" />
	
</beans>